<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Hottest Topic on Reddit</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
		<style>
			.submit-sec {
				margin-top: 15px;
			}
			section {
				margin-top: 30px;
			}
			
			.showdata {
				width: 50%;
			}
			
		</style>
  		<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
	</head>
	<body>
		<div class="container">
			<h1>Hottest Topic on Reddit</h1>
			<h3>Real Time Reddit News Feed Search</h3>
			<section>
				<form action="/show" method="get">
					<div class="form-group">
						<label for="usertimestamp">Please input your user name:</label>
						<input type="text" class="form-control" name="user" id="usertimestamp">
						<div class="submit-sec">
							<input id="done-btn" type="submit" value="Done" class="btn btn-primary">
						</div>
					</div>
				</form>
			</section>

			<section>
				<form action="/graph" method="get">
					<div class="form-group">
						<label for="usergraph">For user relationship graph, Please type your user name:</label>
						<input type="text" class="form-control" name="user" id="usergraph">
						<div class="submit-sec">
							<input id="done-btn" type="submit" value="Show Me" class="btn btn-primary">
						</div>
					</div>
				</form>
			</section>

		</div>
	</body>
</html>
