<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>my first web page</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
		<style>
			section {
				margin-top: 30px;
			}
		</style>
  		<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
	</head>
	<body>
		<div class="container">
			<h1>Hottest Topic on Reddit</h1>
			<h3>Real Time Reddit News Feed For User "{{user}}"</h3>
			<section class="showTable">
				<p>Some of people are commenting on these topics you may be interested in:</p>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>URL</th>
							<th>Title</th>
							<th>By User</th>
						</tr>
					</thead>
					<tbody>
						{% for row in json_data %}
						<tr>
							<td>{{row.URL}}</td>
							<td>{{row.title}}</td>
							<td>{{row.otherUser}}</td>
						</tr>
						{% endfor %}
						
					</tbody>
				</table>
			</section>
			<section class="showChart">
			</section>
		</div>
		
	</body>
</html>
